<section>
  <h1>List of cases with active contacts</h1>
  <i>for ease of testing purposes only</i>
  <br/>
  <%=link "+Add contact for new case", to: Routes.contact_path(@conn, :new)%>
  <hr/>
  <%= for c <- @contacts do %>
    <div><%= link "#{c.case_id}", to: Routes.contact_path(@conn, :index, case_id: c.case_id) %></div>
  <% end %>
</section>
