<h1>Edit Contact</h1>

<%
    assigns =
        assigns
        |> Map.put(:action, Routes.contact_path(@conn, :update, @contact))
        |> Map.put(:case_id, @contact.case_id)
%>

<%= render "form.html", assigns %>

<span><%= link "Back to list", to: Routes.contact_path(@conn, :index, case_id: @contact.case_id) %></span>
