<h2>New Contact</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.contact_path(@conn, :create)) %>
<%= if is_nil(@case_id) do %>
    <span><%= link "Back", to: Routes.page_path(@conn, :index) %></span>
<% else %>
    <span><%= link "Back", to: Routes.contact_path(@conn, :index, case_id: @case_id) %></span>
<% end %>
